.feedbackContainerWrapper {
    padding: 80px 0 140px 0;
}

.feedbackContainerContainer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.feedbackHeaderContainer {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.feedbackHeaderContainer::before,
.feedbackHeaderContainer::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #5B4856;
}

.feedbackHeaderContainer:not(:empty)::before {
    margin-right: 3em;
}

.feedbackHeaderContainer:not(:empty)::after {
    margin-left: 3em;
}

.feedbackHeader {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 57px;
}

.feedbackBadgesContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .feedbackContainerWrapper {
        padding: 80px 16px;
    }

    .feedbackHeader {
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        color: #000000;
        text-align: start;
    }

    .feedbackHeaderContainer {
        margin-bottom: 40px;
    }

    .feedbackHeaderContainer::before,
    .feedbackHeaderContainer::after {
        content: unset;
        flex: unset;
        border-bottom: unset;
    }

    .feedbackHeaderContainer:not(:empty)::before {
        margin-right: unset;
    }

    .feedbackHeaderContainer:not(:empty)::after {
        margin-left: unset;
    }

    .feedbackBadgesContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
    }

}