* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E3E3E3;
}

.sliderWidthPeople {
    min-width: 300px;
    max-width: 300px;
    height: 350px;
}

@font-face {
    font-family: "Oswald";
    src: url('../../public/fonts/Oswald-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src: url('../../public/fonts/Oswald-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src: url('../../public/fonts/Oswald-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src: url('../../public/fonts/Oswald-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src: url('../../public/fonts/Oswald-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src: url('../../public/fonts/Oswald-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}