.imageBadgeContainer {
    padding: 10px;
    background: #FFFFFF;
    width: fit-content;
}

.imageBadgeContainer > div > img {
    width: 450px;
}

.imageSoldBadge {

}

.imageType {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #5B4856;
    letter-spacing: 0.03rem;
}

@media screen and (max-width: 768px) {
    .imageBadgeContainer > div > img {
        max-width: 450px;
        width: 100%;
    }
}