.mobile {
    display: none;
}

.infoContainer {
    display: none;
}

@media screen and (max-width: 768px) {
    .infoContainer {
        background: #E4D0D0;
        padding: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .infoContainer > svg {
        width: 16px;
    }

    .info {
        font-family: "Oswald", sans-serif;
        line-height: 24px;
        font-weight: 500;
    }

    .infoLink {
        color: #5B4856;
        font-family: "Oswald", sans-serif;
        font-weight: 500;
    }

    .mobile {
        display: flex;
        align-items: center;justify-content: space-between;
        padding: 16px;
        background: #5B4856;
    }

    .headerText {
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: 500;
        color: #F6E5F2;
        font-size: 26px;
        line-height: 32px;
    }

    .mobileLogoContainer {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .mobileLogo {
        width: 20px;
    }

    .footerLinks {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0 16px 32px 16px;
    }

    .footerLink,
    .footerLink2 {
        text-decoration: none;
        font-family: "Oswald", sans-serif;
        color: #E4D0D0;
        font-size: 20px;
        letter-spacing: 0.03rem;
        border-bottom: 1px solid rgb(228, 208, 208, .2);
        padding-bottom: 15px;
    }

    .footerLink2 {
        border-bottom: none;

    }
}