.navbarContainer {
    background: #5B4856;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarLinksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.navbarLinks,
.navbarLinksActive {
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 60px;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.navbarLinksActive {
    background: #F6E5F2;
    color: #5B4856;
}

.navbarLinks:hover {
    background: #F6E5F2 ;
    /*border-top: 1px solid #867070;*/
    /*border-bottom: 1px solid #867070;*/
    color: #5B4856;
}

