.slidesMolbertContainer {
    padding: 80px 0 140px 0;
}

.slidesMolbertWrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.slidesMolbertHeaderContainer {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.slidesMolbertHeaderContainer::before,
.slidesMolbertHeaderContainer::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #5B4856;
}

.slidesMolbertHeaderContainer:not(:empty)::before {
    margin-right: 3em;
}

.slidesMolbertHeaderContainer:not(:empty)::after {
    margin-left: 3em;
}

.slidesMolbertHeader {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 57px;
    /*margin-bottom: 80px;*/
}

@media screen and (max-width: 768px) {
    .slidesMolbertHeader {
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        color: #333333;
        text-align: start;
    }

    .slidesMolbertHeaderContainer {
        margin-bottom: 40px;
        padding: 0 16px;
    }

    .slidesMolbertContainer {
        padding: 80px 0;
    }

    .slidesMolbertHeaderContainer::before,
    .slidesMolbertHeaderContainer::after {
        content: unset;
        flex: unset;
        border-bottom: unset;
    }

    .slidesMolbertHeaderContainer:not(:empty)::before {
        margin-right: unset;
    }

    .slidesMolbertHeaderContainer:not(:empty)::after {
        margin-left: unset;
    }
}