.footerContainer {
    background: #000000;
    padding: 40px 230px 140px;
}


.footerTopContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footerIcon {
    width: 50px;
}

.footerHeader {
    color: #F6E5F2;
    margin-bottom: 40px;
}

.footerText {
    color: #F6E5F2;
    margin-bottom: 15px;
}

.error {
    color: #F6E5F2;
}

.footerNews {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
}

.footerInput {
    width: 60%;
    padding: 10px;
    outline: 0;
    line-height: 30px;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.footerBtn {
    background: #E4D0D0;
    color: #000000;
    padding: 8px 13px;
    border: none;
    font-size: 18px;
    line-height: 30px;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.footerBtn:hover {
    background: #5B4856;
    color: #FFFFFF;
}