.galleryBadgeContainer {
    display: flex;
    flex-direction: column;
}

.galleryBadgeImages {
    display: flex;
    justify-content: center;
    background: #CCCCCC;
    padding: 50px 50px;
    max-width: 470px;
    height: 550px;
}

.galleryBadgeBottom {
    background: #5B4856;
    padding: 15px 25px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 26px;
    color: #FFFFFF;
    border: none;
}

.galleryBadgeBottom:hover {
    background: #E4D0D0;
    color: #5B4856;
}
